@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="get" asp-controller="Home" asp-action="GoToStore">
        <table>
            <tr>
                <td>
                    <input type = "submit" value = "Olinr Store"/>
                </td>
            </tr>
        </table>
        </form>
</div>
